.input-error {
	border-color: red;
}

#interval-control-form label {
	margin-right: 2px;
	font: 12px sans-serif;
}

#interval-control-form input {
	margin-right: 10px;
}

.error-message {
	color: red;
}

#legend-box {
	position: absolute;
	bottom: 70px;
	right: 10px;
	font: 11px sans-serif;
	background-color: white;
	border: 1px solid black;
}

#legend-box p {
	margin: 2px;
	/*padding-left: 5px;
	padding-right: 5px;*/
}

#legend-box p :first-child {
	padding-right: 5px;
}

#timespan-control-form {
	padding-top: 5px;
}

#timespan-control-form input {
	margin-right: 5px;
	border:1px solid #CCCCCC;
	border-radius: 3px;
	background-color: #F4F5F5;
}

#timespan-control-form input:hover {
	border:1px solid #ADADAD;
	background-color: #d9dddd;
}

#timespan-control-form input.color-left {
	background-image: linear-gradient(to right, lightblue, #F4F5F5);
}

#timespan-control-form input.color-left:hover {
	background-image: linear-gradient(to right, #8ac7db, #d9dddd);
}

#timespan-control-form input.color-center {
	background-color: lightblue;
}

#timespan-control-form input.color-center:hover {
	background-color: #8ac7db;
}

#timespan-control-form input.color-right {
	background-image: linear-gradient(to right, #F4F5F5, lightblue);
}

#timespan-control-form input.color-right:hover {
	background-image: linear-gradient(to right, #d9dddd, #8ac7db);
}

#wxplot {
	position: relative;
	display: inline-block;
}