.LegendGroup {
  border: 1px solid black;
  display: inline-block;
  margin: 2px;
  padding: 2px;
}

.LegendEntry {
  background-color: #efefef;
  display: inline-block;
  margin: 2px;
  padding: 2px;
}

.LegendEntry__canvas {
  margin-right: 2px;
  vertical-align: text-bottom;    
}