* {
    box-sizing: border-box;
}

/* 
 * Scrollbars should always be visible so the user knows if an element contains
 * extra content.
 */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

html {
    font-size: 100%;
}

body {
    background-color: #F8F8F8;
}

button, select {
    font: 1rem sans-serif;
    margin: 3px;
    border:1px solid #cccccc;
    border-radius: 3px;
    background-color: #f2f2f2;
}

button {
    -webkit-appearance: none;
}

.overflow-scroll {
    overflow: scroll;
}

#plot {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column;
}

@media (min-width: 700px) {
     #plot {
        width: 700px;
     }
}

@media (min-height: 500px) {
    #plot {
        height: 500px;
    }
}

#plot-canvas {
    position: relative;

    /* Make the canvas container match the dimensions of plot-canvas */
    & > * {
        width: 100%;
        height: 100%;
    }
}

#plot-canvas {
    width: 100%;
    min-height: 150px;
    flex: 1;
    /* 
     * Position absolute is necessary to make the canvas to fill the available
     * space on iOS.
     */
    & > canvas {
        position: absolute;
    }
}

#top {
    display: flex;
    flex-flow: column;
    /*min-height: 1px;*/
    flex: 1;
}

@media (max-height: 500px) and (orientation: landscape) {
    #top {
        flex-flow: row;
    }

    #plot-controls {
        /* 
         * We don't want min-content here because it would make the plot
         * controls section too wide if the user has a large font size. If
         * anything doesn't fit a scrollbar will appear.
         */ 
        width: 33%;
    }

    #plot-canvas {
        width: 67%;
    }
}

#plot-hide-controls {
    display: none;
}

#plot-hideable-controls-positioner {
    position: relative;
}

#plot-hideable-controls {
    &, & select {
        font: 1rem sans-serif;
        margin: 2px;
    }

    & label {
        display: inline-block;
        margin: 2px;
    }
}

@media (max-height: 500px) and (orientation: portrait), (max-height: 275px) {
    #plot-hide-controls {
        display: block;

        &.pressed {
            background-color: #e6e6e6;
        }
    }

    #plot-hideable-controls {
        position: absolute;
        background-color: white;
        border: 1px solid black;
        z-index: 1;
    }

    .hide-controls {
        display: none;
    }
}

