body {
    background-color: #F8F8F8;
}

button, select {
    font: 1rem sans-serif;
    margin: 3px;
    border:1px solid #cccccc;
    border-radius: 3px;
    background-color: #f2f2f2;
}

button {
    -webkit-appearance: none;
}

#plot {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column;
}

@media (min-width: 700px) {
     #plot {
        width: 700px;
     }
}

@media (min-height: 500px) {
    #plot {
        height: 500px;
    }
}

#plot-canvas-outer {
    position: relative;
    margin: 5px;
    min-height: 150px;
    flex: 1;
}

#plot-canvas-inner {
    /* 
     * Position absolute is necessary to make the canvas to fill the available
     * space on iOS.
     */
    position: absolute;
    width: 100%;
    height: 100%;

    /* Make the canvas container match the dimensions of plot-canvas-inner */
    & > * {
        width: 100%;
        height: 100%;
    }
}

#top {
    display: flex;
    flex-flow: column;
    flex: 1;
}

@media (max-height: 500px) and (orientation: landscape) {
    #top {
        flex-flow: row;
    }

    #plot-controls {
        /* 
         * A fixed percentage is better than min-content here because it keeps
         * the plot from getting too wide. Either way, the plot needs to be
         * tested on the smallest devices.
         */ 
        width: 33%;
    }

    #plot-canvas-outer {
        width: 67%;
    }
}

#plot-hide-controls {
    display: none;
}

#plot-hideable-controls-positioner {
    position: relative;
}

#plot-hideable-controls {
    &, & select {
        font: 1rem sans-serif;
        margin: 2px;
    }

    & label {
        display: inline-block;
        margin: 2px;
    }
}

@media (max-height: 500px) and (orientation: portrait), (max-height: 275px) {
    #plot-hide-controls {
        display: block;

        &.pressed {
            background-color: #e6e6e6;
        }
    }

    #plot-hideable-controls {
        position: absolute;
        background-color: white;
        border: 1px solid black;
        z-index: 1;
    }

    .hide-controls {
        display: none;
    }
}

