* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

#plot {
    display: flex;
    flex-flow: column;
    width: 100%;
}

@media (min-width: 700px) {
    #plot {
        width: 700px;
    }
}

#plot-canvas {
    position: relative;

    & > canvas {
        width: 100%;
        height: 100%;
    }
}

.portrait #plot-canvas {
    width: 100%;
    min-height: 150px;
    flex: 1;
    /* 
     * Position absolute is necessary to make the canvas to fill the available
     * space on iOS.
     */
    & > canvas {
        position: absolute;
    }
}

#top {
    display: flex;
    flex-flow: column;
    /*min-height: 1px;*/
    flex: 1;
}

.landscape {
    #top {
        flex-flow: row;
    }

    #plot-controls {
        width: 33%;
    }

    #plot-canvas {
        width: 67%;
    }
}

#plot-controls {
    &, & select {
        font: 1rem sans-serif;
        margin: 2px;
    }

    & label {
        display: inline-block;
    }
}